{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="banner-home">
        <div class="container-fluid">
            <div class="cover">
                        <h1><strong>О Нас</strong></h1>
                        <ol class="breadcrumb display">
                            <li class="breadcrumb-item"><a href="{% url 'yec:index' %}">Главное</a></li>
                            <li class="breadcrumb-item active">О Нас</li>
                        </ol>
            </div>
        </div>
    </div>


    <section class="content sub-page">
        <div class="container-fluid">

            <div class="col-xs-12 post ground">
                    <p><strong>Уважение к потребителям</strong></p>
<p><br>YASHAM ERKAPLAN CARPET - работающая с 2005 года, производить продукцию высокого качества с широким ассортиментом используя современное технологическое оборудование, а также ежедневно стремится повышать качество продукции для своих клиентов.</p>
<p>Ежегодно повыщая объем производства, YASHAM ERKAPLAN CARPET производит новые и популярные коллекции ковров. День ото дня развиваются существующие и расшираются новые рынки для реализации (экспорта) продукции во многие страны.</p>
<p>Наша цель - «Только самое качественное». И это никогда не теряет своего понимания. Нанимая специализированный персонал, расширяя производственные мощности предприятия, мы стремимся производит ковры и ковровые изделия наилучшего качества и в богатом ассортименте создающие уют и комфорт, которое высоко ценится нашыми клиентами.</p>            </div>
        </div>
        <div class="clearfix"></div>
    </section>
{% endblock %}